<header>
    <div class="navbar">
        <div id="logo">
            <h3>LOGO</h3>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li ><a href="/signup">Sign Up</a></li>
          <li ><a href="/login">Log In</a></li>
          <li ><a href="/map">Index</a></li>

        
        </ul>
      </div>
    </header>