<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IWP Project</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
  
      {{>header}}
    
    

    <div class="animation">
      <div class=info>
      <p><a href="/map"><br>&emsp;COVID SITUATION</a></p>
      <p><a href="#"><br>&emsp;HOW TO PREVENT</a></p>
      <p><a href="#"><br>&emsp;HBHBJH</a></p>
      </div>
      
      
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <footer class=contact>
        <h2>CONTACT</h2>
      </footer>
      
      
   
    </div>
  </div>
  
  
    
  
        
     
    
  </body>
</html>
