<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iwp project</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
  
    <header>
    <div class="navbar">
        <div id="logo">
            <h3>COVID-19</h3>
        </div>
        <ul>
          <form action="/home" method="POST" post="/home" id="logout"> <button>LOGOUT</button> </form> </li>
        </ul>
      </div>
    </header>  
    

    <div class="animation">
      <div class=info>
      <p><a href="/map"><br>&emsp;COVID SITUATION</a></p>
      {{!-- <p><a href="#"><br>&emsp;HOW TO PREVENT</a></p> --}}
      <p><a href="/help"><br>&emsp;HELP DESK</a></p>
      </div>
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      {{>footers}}
      </div>
    </div>
  </div>   
  </body>
</html>