<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    
    <div class="container">
      <form method="POST" action="/signup" post="/signup" id="signup">
        <h2>Sign Up</h2>
        <div>
            <label for="name">Name</label>
            <input type="name" id="name" name="name" />
        </div>
        <div>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" />
        </div>
        <div>
            <label for="dob">date of birth</label>
            <input type="date" id="dob" name="dob" />
          </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
        </div>
        <br />
        <div>
          <button type="submit" value="Submit">Submit</button>
        </div>
        <div>
          <p class="forgot">Already a user?</p>
          <a class="link" href="/login">SIGN IN</a>
        </div>
      </form>
    </div>
    <div class="animation">
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      {{>footers}}
      </div>
  </body>
</html>
{{!-- <script>
  document.getElementById('signup').addEventListener('submit',(e)=>{
    e.preventDefault();
    window.location.href='/login';
  });
</script> --}}