<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iwp project</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
  
    <header>
    <div class="navbar">
        <div id="logo">
            <h3>LOGO</h3>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li ><a href="/signup">Sign Up</a></li>
          <li ><a href="/login">Login</a></li>
          <!--<li ><a href="signup">sign up</a></li>-->

        
        </ul>
      </div>
    </header>  
    

    <div class="animation">
      <div class=info>
      <p><a href="/map"><br>&emsp;COVID SITUATION</a></p>
      <p><a href="#"><br>&emsp;HOW TO PREVENT</a></p>
      {{!-- <p><a href="#"><br>&emsp;HELP DESK</a></p> --}}
      </div>
      
      
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      {{>footers}}
      </div>
    </div>
  </div>   
  </body>
</html>